body {
  margin-top: 34px;
}

nav.navbar {
  min-height: 34px;
  .container {
    margin: 0px 16px 0px 16px;
  }
}
.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  padding: 8px 16px 0px 16px;
  height: 34px;
}

div.imageCell {
  float: left;
  margin: 10px;
  img {
    padding-top: 20px;
    padding-bottom: 20px;
    &.orientation-normal {
    }
    &.orientation-90 {
      transform: rotate(180deg);
    }
    &.orientation-180 {
      transform: rotate(90deg);
    }
    &.orientation-270 {
      transform: rotate(270deg);
    }
  }
}
div.imageCells {
  &.FileName-hide > * > * {
    .FileName {
      display: none;
    }
  }
  &.LensID-hide > * > * {
    .LensID {
      display: none;
    }
  }
  &.FNumber-hide > * > * {
    .FNumber {
      display: none;
    }
  }
  &.FocalLength-hide > * > * {
    .FocalLength {
      display: none;
    }
  }
  &.ShutterSpeed-hide > * > * {
    .ShutterSpeed {
      display: none;
    }
  }
  &.ISO-hide > * > * {
    .ISO {
      display: none;
    }
  }
  &.ExposureCompensation-hide > * > * {
    .ExposureCompensation {
      display: none;
    }
  }
  &.DateTimeOriginal-hide > * > * {
    .DateTimeOriginal {
      display: none;
    }
  }
}
